*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}
a{
    text-decoration: none;
}
ul,li{
    list-style-type: none;
}

.section-title{
    @include sectionTitle;
    color:white;
}
.section-subtitle{
    @include simpleText;
}
// font-family: 'STIX Two Text', serif;
