@mixin flex {
    display: flex;
    align-items: center;
}
@mixin simpleText {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}
@mixin infoText {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
}