.result{
    // display: none;
    position: relative;
    padding:160px 0;
    background-image:linear-gradient(rgba(255,255,255,.4),rgba(255,255,255,.4)),
    url('/images/big-bg-grey.png');
    &__info{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-right: 20px;
    }
    &__inner{
        max-width: 700px;
    }
    &__title{
        color: #1B1B1B;
        margin-bottom: 16px;
    }
    &__text{
        color: #8A8A8A;
    }
    &-cards{
        display: flex;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        gap: 20px;
        margin-top: 50px;
    }
    &-card{
        width: 289px;
        background-color: #1B1B1B;
        padding: 0 20px 20px 20px;
        border-radius: 8px;
        height: 400px;
        // overflow: hidden;
    }
    &-card__img{
        margin-top: 43px;
        @include flex;
        justify-content: center;
        transition: all .3s ease-out;
    }
    &-card__img img{
        height: 173px;
    }
    &-card__title{
        width: 239px;
        @include infoText;
        color: #8A8A8A;
        margin-top: 65px;
        transition: all .3s ease-out;
    }
    &-card__text{
        font-size: 14px;
        line-height: 23px;
        color: #8A8A8A;
        transform: translateY(100%);
        visibility: hidden;
        opacity: 0;
        margin-top: 5px;
    }
    &-card:hover &-card__img{
        transform: scale(.8);
        margin-top:20px;
    }
    &-card:hover &-card__title{
        margin-top:5px;
    }
    &-card:hover &-card__text{
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
    &-card:hover .fa-arrow-down{
        color: #fff;
    }
    &-card__arrow{
        display:flex;
        justify-content: flex-end;
        padding-top: 20px;
        color: #5C5C5C;
        transition: color .4s;
    }
    
    &-card__arrow .fa-arrow-down{
        transform: rotate(-135deg);
        font-size:24px;
    }
#result-hidden__link{
        display: none;
    }
    @media only screen and (max-width:1000px){
        &-card,
        &-card__title{
            width: 320px;
        }
        &-cards{
            margin-top:40px;
        }
    }
    @media only screen and(max-width:920px){
        &__inner{
            max-width: 633px;
        }
    }
    @media only screen and(max-width:840px){
        &__inner{
            max-width:580px;
        }

    }
    @media only screen and(max-width:800px){
        &__inner{
            max-width:560px;
        }
    }
    @media only screen and(max-width:768px){
        &__link{
            position: relative;
        }
        &__link img{
        position: absolute;
            right:-20px;
        }
        &__inner{
            max-width:480px;
            padding-right: 10px;
        }
        &-card,
        &-card__title{
            width: 235px;
        }
        &-card__title{
            font-size: 14px;
        }
    }
    @media only screen and (max-width:680px){
        &__inner{
            max-width:400px;
        }
        &-card{
            width:280px;
        }
        &-card__title{
            width: 260px;
        }
    }
    @media only screen and(max-width:600px){
        .hero__link{
            margin-left: 15px;
        }
        &__inner{
            max-width: 350px;
        }
    }
    @media only screen and(max-width:550px){
        .hero__link{
            display: none;
        }
        &__inner{
            max-width: 100%;
        }
        #result-hidden__link{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 155px;
        height: 50px;
        border: 1px solid #DA4533;
        border-radius: 50%;
        padding: 10px 20px;
        color: #DA4533;
        margin: 0 auto;
        margin-top: 41px;
        }
        &-cards{
            margin-top:30px;
        }
    }
    @media only screen and (max-width:480px){
       &-card{
           width:220px;
           height: 440px;
       }
       &-card__title{
           width:190px;
       }
    }
    @media only screen and (max-width:430px){
        &-card{
            width:400px;
            height: 400px;
        }
        &-card__title{
            width:320px;
        }
    }
    @media only screen and (max-width:380px){
        &-card{
            width:360px;
        }
        &-card__title{
            width:360px;
        }
    }
    @media only screen and (max-width:360px){
        &-card{
            width:340px;
        }
        &-card__title{
            width:360px;
        }
    }
}